.landing-page-main{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding-top: vw(300px);

  p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: vw(40px);
    padding-bottom: vw(50px);
    text-align: center;
  }

  .login-form{
    width: vw(550px);

    .form-group{
      margin-bottom: vw(10px);
    }
  }
}