body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@import "assets/scss/function";
@import "assets/scss/global";
@import "assets/scss/fonts";

@import "assets/scss/layouts/notFound";
@import "assets/scss/layouts/landingPage";

@import "assets/scss/chatrooms/chatrooms";

@import "assets/scss/users/createUser";
@import "assets/scss/users/listUser";